
@{
    ViewBag.Title = "工作组管理";
    Layout = ViewBag.Layout;
    var userdto = Newtonsoft.Json.JsonConvert.DeserializeObject<HRMS.Services.DTO.UserDTO>(Context.Session.GetString("User"));
    var userPermissions = Newtonsoft.Json.JsonConvert.DeserializeObject<List<UserPermission>>(Context.Session.GetString("UserPermissions"));
}

<div class="page-content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="booking-search">
                <div class="row form-group">
                    <div class="fiter col-md-6 col-xs-6" data-column="0" data-name="Name">
                        <label class="control-label">工作组名:</label>
                        <div class="input-icon">
                            <input class="form-control" type="text" id="col0_filter">
                        </div>
                    </div>
                    <div class="fiter col-md-6 col-xs-6" data-column="1" data-name="MasterId">
                        <label class="control-label">组长工号:</label>
                        <div class="input-icon">
                            <input class="form-control" type="text" id="col1_filter">
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <div class=" input-group input-large date-picker input-daterange" data-date-format="yyyy-mm-dd">
                            <div class="fiter" data-column="6" data-name="EffectiveDate">
                                <input type="text" id="col6_filter" class="form-control" placeholder="有效期-开始">
                            </div>
                            <span class="input-group-addon">
                                到
                            </span>
                            <div class="fiter" data-column="10" data-name="ExpirationDate">
                                <input type="text" id="col10_filter" class="form-control" placeholder="有效期-结束">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn green btn-block  margin-bottom-20" id="Search">查询<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="myTable" class="table table-striped table-bordered nowrap"></table>
        </div>
    </div>
</div>
@section scripts{

    <script>
        function filterColumn(i) {
            $('#myTable').DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
                false,
                false
            ).draw();
        }
      
        var editor;
        var isdisposed;
        $(document).ready(function () {
            isdisposed = false;
            App.initResizeHandler();
            Layout.initAjaxContentSuccessCallback();
            App.addResizeHandler(Resize); 

            if (jQuery().datepicker) {
                $('#col6_filter').datepicker({
                    language: 'zh-CN',
                    autoclose: true,
                    format: 'yyyy-mm-dd 00:00:00'
                });
                $('#col10_filter').datepicker({
                    language: 'zh-CN',
                    autoclose: true,
                    format: 'yyyy-mm-dd 23:59:59'
                });
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    orientation: "left",
                    autoclose: true,
                    todayHighlight: true,
                    language: 'zh-CN',
                    clearBtn: true,
                });
            }

            editor = new $.fn.dataTable.Editor({
                idSrc: "Id",
                ajax: {
                      create: {
                            type: 'POST',
                            url:  '@Url.Action("WorkGroupIndexCreate", "WorkGroup")'
                        },
                        edit: {
                            type: 'POST',
                            url:  '@Url.Action("WorkGroupIndexUpdate", "WorkGroup")'
                        },
                        remove: {
                            type: 'POST',
                            url:  '@Url.Action("WorkGroupIndexDelete", "WorkGroup")'
                        }
                },
                table: "#myTable",
                fields: [
                    { label: "工作组名*:", name: "Name" },
                    { label: "组长工号*:", name: "MasterId" },
                    { label: "组长姓名:", name: "MasterName", type: "readonly" },
                    {
                        type: "datetime",
                        label: "生效日期*:",
                        name: "EffectiveDate",
                        format: 'YYYY-MM-DD HH:mm:ss'
                    },
                    {
                        type: "datetime",
                        label: "过期日期*:",
                        name: "ExpirationDate",
                        format: 'YYYY-MM-DD HH:mm:ss'
                    },
                    {
                        type: "radio",
                        label: "状态:",
                        name: "Valid",
                        options: [
                            { label: "有效", value: true },
                            { label: "禁用", value: false }
                        ],
                        def: true
                    },
                    { label: "备注:", name: "Remarks" }
                ]
            });
            var table = $('#myTable').DataTable({
                ajax: {
                    url: "@Url.Action("WorkGroupIndexData", "WorkGroup")",
                    type: "post"
                },
                order: [[0, 'asc']],//一定要添加
                colReorder: {
                    fixedColumnsLeft: 1
                },
                columns: [
                    { data: "Name", title: "工作组名", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "Company", title: "工作组所属公司", searchable: true, orderable: true, width: "100px", responsivePriority: 5 },
                    { data: "Department", title: "工作组所属仓库/部门", searchable: true, orderable: true, width: "100px", responsivePriority: 5 },

                    { data: "MasterId", title: "组长工号", searchable: true, orderable: true, width: "100px", responsivePriority: 5 },
                    { data: "MasterName", title: "组长姓名", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    {
                        data: "EffectiveDate", title: "生效日期", searchable: true, orderable: true, width: "150px",
                        render: function (val, type, row) {
                            if (val !== null && val.match(/\/Date\((\d+)\)\//gi)) {
                                val = moment(eval(val.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).format('YYYY-MM-DD HH:mm:ss');
                                row.createtime = val;
                            }
                            return val;
                        }
                    },
                    {
                        data: "ExpirationDate", title: "过期日期", searchable: true, orderable: true, width: "150px",
                        render: function (val, type, row) {
                            if (val !== null && val.match(/\/Date\((\d+)\)\//gi)) {
                                val = moment(eval(val.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).format('YYYY-MM-DD HH:mm:ss');
                                row.createtime = val;
                            }
                            return val;
                        }
                    },
                    {
                        data: "Valid", title: "是否冻结", searchable: true, orderable: true, width: "100px", responsivePriority: 1,
                        render: function (val, type, row) {
                            if (val === true) {
                                return "否";
                            } else if (val === false) {
                                return "是";
                            } else {
                                return "未知";
                            }
                        }
                    },
                    { data: "Remarks", title: "备注", searchable: true, orderable: true, width: "50px", responsivePriority: 5 },
                ],
                buttons: [
                    @if (Context.HasPermission(Url.Action("WorkGroupIndexCreate", "WorkGroup"), userdto, userPermissions))
                    {
                        Output.WriteLine("{ extend: \"create\", text: \"创建\", editor: editor },");
                    }
                    @if (Context.HasPermission(Url.Action("WorkGroupIndexUpdate", "WorkGroup"), userdto, userPermissions))
                    {
                        Output.WriteLine("{ extend: \"edit\", text: \"编辑\", editor: editor },");
                    }
                    @*@if (Context.HasPermission(Url.Action("WorkGroupIndexDelete", "WorkGroup")))
                    {
                        Output.WriteLine("{ extend: \"remove\", text: \"删除\", editor: editor },");
                    }*@
                    @if (Context.HasPermission(Url.Action("OnOff", "WorkGroup"), userdto, userPermissions))
                    {
                        Output.WriteLine("{ extend: \"selectedSingle\", text: \"启用\\停用\", action: function (e, dt, node, config) {  var rows = table.rows({ selected: true }).data(); WorkGroupOnOff(rows[0]['Id']); }},");
                    }
                    {
                        extend: 'collection',
                        text: '导出',
                        buttons: [
                            { extend: "copyHtml5", text: "复制" },
                            { extend: "excelHtml5", text: "导出EXCEL" }
                            //{ extend: "csvHtml5", text: "导出CSV" },
                            //{ extend: "pdfHtml5", text: "导出PDF" },
                        ]
                    }
                ]
            });

            editor.on('initCreate', function () {
                editor.show(); //Shows all fields
                 
                editor.field('Name').enable();
                WorkGroupStatusSelected = 1;
            });

            editor.on('initEdit', function (e, node, data, items, type) {
                editor.show(); //Shows all fields
                editor.field('Name').disable();
                
                WorkGroupStatusSelected = data.WorkGroupStatus;
                console.log(WorkGroupStatusSelected);
            });

           

            editor.on('preSubmit', function (e, o, action) {
                if (action !== 'remove') {
                    ;
                }
            });

            $('#myTable')
                .on('error.dt', function (e, settings, techNote, message) {
                    if (e.type = 'error') {
                        toastr.error(settings.jqXHR.responseText, "", { target: '.page-content-body' });
                    }
                });

            $('#Search').click(function () {
                var items = $(this).parents('.booking-search').find('.fiter');
                $.each(items, function (index, obj) {
                    var i = $(obj).attr('data-column');
                    var name = $(obj).attr('data-name') + '';
                    var val = $('#col' + i + '_filter').val();
                    if (val === null)
                        val = '';
                    var index = $('#myTable').DataTable().columns().dataSrc().indexOf(name)
                    var selectot = '.search-' + index;
                    if ($(selectot).length === 0) {
                        $('#myTable').DataTable().column(index).search(val, false, false);
                    }
                    else {
                        $('#myTable').DataTable().column($(selectot)).search(val, false, false);
                    }
                });

                $('#myTable').DataTable().columns().search().draw();
            });
        });

        function WorkGroupOnOff(Id)
        {
            $.ajax({
                    url: "@Url.Action("OnOff", "WorkGroup")",    //请求的url地址
                    dataType: "json",   //返回格式为json
                    async: true,//请求是否异步，默认为异步，这也是ajax重要特性
                    data: { "Id": Id },   //参数值,键值对
                    type: "GET",   //请求方式
                    beforeSend: function () {
                        //请求前的处理
                    },
                    success: function (req) {
                        //请求成功时处理
                        if (req.Result)
                        {
                            toastr.success(req.Message);
                        }
                        else
                        {
                            toastr.error(req.Message);
                        }
                    },
                    complete: function () {
                        //请求完成的处理
                        $('#Search').click();
                    },
                    error: function (res) {
                        //请求出错处理
                    }
                });
        }

        editor.field( 'MasterId' ).input().on( 'change', function () {
                $.ajax({
                    url: "@Url.Action("EmployeeSelectDataForEmployeeOperation", "Infra")",    //请求的url地址
                    dataType: "json",   //返回格式为json
                    async: true,//请求是否异步，默认为异步，这也是ajax重要特性
                    data: { "employeeId": editor.field('MasterId').val() },    //参数值,键值对
                    type: "GET",   //请求方式
                    beforeSend: function () {
                        //请求前的处理
                    },
                    success: function (req) {
                        //请求成功时处理
                        if (req.EmployeeName != "")
                        {
                            editor.field('MasterName').val(req.EmployeeName);
                        }
                        else
                        {
                            editor.field('MasterName').val('');
                        }
                    },
                    complete: function () {
                        //请求完成的处理
                    },
                    error: function (res) {
                        //请求出错处理
                    }
                });
    });

        
        function Resize() {

            $('#myTable').DataTable()
                .columns.adjust()
                .responsive.recalc();
        }
    </script>
}
