<ul class="nav navbar-nav pull-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                <span class="username">
                    @(User.FindFirst(t => t.Type == "CompanyName").Value)
                </span>
                <span class="username">
                    <i class="font-blue-dark font-lg icon-user"></i>
                    @(User.Identity.Name) 你好
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a class="ajaxify" href="@Url.Action("modifypwd","Home")">
                        <i class="icon-key"></i>修改密码
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("logout", "Home")">
                        <i class="icon-key"></i>登出
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-quick-sidebar-toggler">
            <a href="@Url.Action("logout", "Home")" class="dropdown-toggle">
                <i class="font-blue-dark font-lg icon-logout"></i>
            </a>
        </li>
    }

</ul>


