
@{
    ViewBag.Title = "权限管理";
    Layout = ViewBag.Layout;
}
<div class="row">
    <div class="col-md-12">

        <div class="form-inline">

            <div class="booking-search">
                <div class="form-group ">
                    <div class="fiter" data-column="0" data-name="Name">
                        <input class="form-control" type="text" id="col0_filter" placeholder="权限名称">
                    </div>
                </div>
                <div class="form-group ">
                    <button class="btn green" width="120" id="Search">查询 <i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <table id="myTable" class="table table-striped table-bordered"></table>
</div>

@section scripts{

    <script>
        function filterColumn(i) {
            $('#myTable').DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
                false,
                false
            ).draw();
        }
        var editor;
        $(document).ready(function () {
            App.addResizeHandler(Resize);
            editor = new $.fn.dataTable.Editor({
                idSrc: "Id",
                ajax: {
                    create: {
                        type: 'POST',
                        url:  '@Url.Action("PermissionIndexCreate", "System")'
                    },
                    edit: {
                        type: 'POST',
                        url:  '@Url.Action("PermissionIndexUpdate", "System")'
                    },
                    remove: {
                        type: 'POST',
                        url:  '@Url.Action("PermissionIndexDelete", "System")'
                    }
                },
                table: "#myTable",
                fields: [
                    { label: "权限名称:", name: "Name" },
                    { label: "区域:", name: "Area" },
                    { label: "控制器:", name: "Control" },
                    { label: "动作:", name: "Action" },
                    { label: "排列序号:", name: "OrderIndex" },
                    {
                        label: "父权限:", name: "ParentID", type: "select2",
                        opts: {
                            theme: "classic",
                            ajax: {
                                type: 'GET',
                                url: "@Url.Action("PermissionInfraData", "Infra")",
                                dataType: 'json',
                                delay: 250,
                                data: function (params) {
                                    return {
                                        term: params.term, // search term 请求参数
                                        page: params.page
                                    };
                                },
                                processResults: function (data, params) {
                                    params.page = params.page || 1;
                                    return {
                                        results: data.items,//itemList
                                        pagination: {
                                            more: (params.page * 30) < data.total_count
                                        }
                                    };
                                },
                                cache: true
                            },
                            escapeMarkup: function (markup) { return markup; },
                            formatResult: function formatRepo(repo) { return repo.text; },
                            formatSelection: function formatRepoSelection(repo) { return repo.text; }
                        }
                    },
                ]
            });
            var table = $('#myTable').DataTable({
                ajax: {
                    url: "@Url.Action("PermissionIndexData", "System")",
                    type: "post"
                },
                rowGroup: {
                    dataSrc: ['ParentName'],
                    startRender: function ( rows, group ) {
                        return group +' ('+rows.count()+' 条记录)';
                    }
                },
                order: [[5, 'asc']],//一定要添加
                colReorder: {
                    fixedColumnsLeft: 1
                },
                columns: [
                    { data: "Name", title: "权限名称", searchable: true, orderable: true, width: "100px", className: 'search-0' },
                    { data: "Area", title: "区域", searchable: true, orderable: true, width: "100px" },
                    { data: "Control", title: "控制器", searchable: true, orderable: true, width: "100px" },
                    { data: "Action", title: "动作", searchable: true, orderable: true, width: "100px" },
                    { data: "OrderIndex", title: "排列序号", searchable: true, orderable: true, width: "100px" },
                    { data: "ParentName", title: "父权限名称", searchable: false, orderable: false, width: "100px" },
                    //{ data: "Modifier", title: "修改者", searchable: true, orderable: true, width: "100px" },
                    //{
                    //    data: "ModifyTime", title: "修改日期", searchable: true, orderable: true, width: "100px",
                    //    render: function (val, type, row) {
                    //        if (val != null && val.match(/\/Date\((\d+)\)\//gi)) {
                    //            val = moment(eval(val.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).format('YYYY-MM-DD HH:mm:ss');
                    //            row.createtime = val;
                    //        }
                    //        return val;
                    //    }
                    //},
                    { data: "Creator", title: "创建者", searchable: true, orderable: true, width: "100px" },
                    {
                        data: "CreateTime", title: "创建日期", searchable: true, orderable: true, width: "100px",
                        render: function (val, type, row) {
                            if (val != null && val.match(/\/Date\((\d+)\)\//gi)) {
                                val = moment(eval(val.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).format('YYYY-MM-DD HH:mm:ss');
                                row.createtime = val;
                            }
                            return val;
                        }
                    },
                ],
                buttons: [
                    { extend: "create", text: "创建", editor: editor },
                    { extend: "edit", text: "编辑", editor: editor },
                    { extend: "remove", text: "删除", editor: editor },
                    {
                        extend: "selectedSingle",
                        text: "复制创建",
                        action: function (e, dt, node, config) {
                            var rows = table.rows({ selected: true }).data();
                            editor
                                .title('复制创建一条记录')
                                .buttons('创建')
                                .create(true)
                                .set('Name', rows[0].name)
                                .set('Control', rows[0].controller)
                                .set('Action', rows[0].action)
                                .set('OrderIndex', rows[0].orderindex + 1)
                                .set('ParentID', rows[0].parentid);

                        }
                    },
                    {
                        extend: 'collection',
                        text: '导出',
                        buttons: [
                             { extend: "copyHtml5", text: "复制" },
                             { extend: "excelHtml5", text: "导出EXCEL" },
                             { extend: "csvHtml5", text: "导出CSV" },
                             { extend: "pdfHtml5", text: "导出PDF" }
                        ]
                    }
                ]
            });

            editor.on('preSubmit', function (e, o, action) {
                if (action !== 'remove') {

                }
            });
            $('#Search').click(function () {
                var items = $(this).parents('.booking-search').find('.fiter');
                $.each(items, function (index, obj) {
                    var i = $(obj).attr('data-column');
                    var name = $(obj).attr('data-name') + '';
                    var val = $('#col' + i + '_filter').val();
                    if (val === null)
                        val = '';
                    var index = $('#myTable').DataTable().columns().dataSrc().indexOf(name)
                    var selectot = '.search-' + index;
                    if ($(selectot).length === 0) {
                        $('#myTable').DataTable().column(index).search(val, false, false);
                    }
                    else {
                        $('#myTable').DataTable().column($(selectot)).search(val, false, false);
                    }
                });

                $('#myTable').DataTable().columns().search().draw();
            });

        });

        function Resize() {

            $('#myTable').DataTable()
                .columns.adjust()
                .responsive.recalc();
        }
    </script>
}
