
@{
    ViewBag.Title = "岗位档案";
    Layout = ViewBag.Layout;
}
<div class="page-content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="booking-search">
                <div class="row form-group">
                    <div class="fiter col-md-6 col-xs-6" data-column="0" data-name="Name">
                        <label class="control-label">岗位名称:</label>
                        <div class="input-icon">
                            <input class="form-control" type="text" id="col0_filter">
                        </div>
                    </div>
                    <div class="fiter col-md-6 col-xs-6" data-column="1" data-name="Department">
                        <label class="control-label">所属仓库/部门:</label>
                        <div class="input-icon">
                            <input class="form-control" type="text" id="col1_filter">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn green btn-block  margin-bottom-20" id="Search">查询<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="myTable" class="table table-striped table-bordered nowrap"></table>
        </div>
    </div>
</div>
@section scripts{

    <script>
        function filterColumn(i) {
            $('#myTable').DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
                false,
                false
            ).draw();
        }
        var editor;
        $(document).ready(function () {
            App.addResizeHandler(Resize);
            editor = new $.fn.dataTable.Editor({
                idSrc: "Id",
                ajax: {
                    create: {
                            type: 'POST',
                            url:  '@Url.Action("PositionIndexCreate", "Position")'
                        },
                        edit: {
                            type: 'POST',
                            url:  '@Url.Action("PositionIndexUpdate", "Position")'
                        },
                        remove: {
                            type: 'POST',
                            url:  '@Url.Action("PositionIndexDelete", "Position")'
                        }
                },
                table: "#myTable",
                fields: [
                    { label: "名称:", name: "Name" },
                    {
                        type: "radio",
                        label: "状态:",
                        name: "Valid",
                        options: [
                            { label: "有效", value: true },
                            { label: "禁用", value: false }
                        ],
                        def: true
                    },
                    {
                        label: "所属仓库/部门:", name: "Department",
                        type: "select2",
                        opts: {
                            theme: "classic",
                            ajax: {
                                type: 'GET',
                                url:  "@Url.Action("DepartmentInfraData", "Infra")",
                                cache: false,
                                dataType: 'json',
                                delay: 250,
                                data: function (params) {
                                    return {
                                        term: params.term, // search term 请求参数
                                        page: params.page
                                    };
                                },
                                tags: false,
                                allowClear: false,
                                processResults: function (data, params) {
                                    params.page = params.page || 1;
                                    return {
                                        results: data.items,//itemList
                                        pagination: {
                                            more: (params.page * 30) < data.total_count
                                        }
                                    };
                                },
                                multiple: false
                            },
                            escapeMarkup: function (markup) { return markup; },
                            formatResult: function formatRepo(repo) { return repo.text; },
                            formatSelection: function formatRepoSelection(repo) { return repo.text; }
                        }
                    },
                    {
                        type: "select",
                        label: "岗位类型:",
                        name: "Type",
                        options: [
                            { label: "计时岗", value: "1" },
                            { label: "计件岗", value: "2" }
                        ]
                    },
                    { label: "备注:", name: "Remarks" }
                ]
            });
            var table = $('#myTable').DataTable({
                ajax: {
                    url: "@Url.Action("PositionIndexData", "Position")",
                    type: "post"
                },
                order: [[0, 'asc']],//一定要添加
                colReorder: {
                    fixedColumnsLeft: 1
                },
                columns: [
                    //{ data: "Id", title: "岗位编号", searchable: true, orderable: true, width: "50px", responsivePriority: 1 },
                    { data: "Name", title: "岗位名称", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "Department", title: "所属仓库/部门", searchable: true, orderable: true, width: "100px", responsivePriority: 5 },
                    {
                        data: "Valid", title: "是否冻结", searchable: true, orderable: true, width: "100px",
                        render: function (val, type, row) {
                            if (val === true) {
                                return "是";
                            } else if (val === false) {
                                return "否";
                            } else {
                                return "未知";
                            }
                        }
                    },
                    {
                        data: "Type", title: "岗位类型", searchable: true, orderable: true, width: "100px",
                        render: function (val, type, row) {
                            if (val === "1") {
                                return "计时岗";
                            } else if (val === "2") {
                                return "计件岗";
                            } else {
                                return "未知";
                            }
                        }
                    },
                    { data: "Remarks", title: "备注", searchable: true, orderable: true, width: "50px", responsivePriority: 5 }
                ],
                buttons: [
                    { extend: "create", text: "创建", editor: editor },
                    { extend: "edit", text: "编辑", editor: editor },
                    { extend: "remove", text: "删除", editor: editor },
                    {
                        extend: 'collection',
                        text: '导出',
                        buttons: [
                            { extend: "copyHtml5", text: "复制" },
                            { extend: "excelHtml5", text: "导出EXCEL" },
                            { extend: "csvHtml5", text: "导出CSV" },
                            //{ extend: "pdfHtml5", text: "导出PDF" }
                        ]
                    }
                ]
            });

            //editor.on('initCreate', function () {
            //    editor.show(); //Shows all fields
            //});

            //editor.on('initEdit', function () {
            //    editor.show(); //Shows all fields
            //    editor.hide('password');
            //});

            editor.on('preSubmit', function (e, o, action) {
                if (action !== 'remove') {
                    ;
                }
            });

            $('#Search').click(function () {
                var items = $(this).parents('.booking-search').find('.fiter');
                $.each(items, function (index, obj) {
                    var i = $(obj).attr('data-column');
                    var name = $(obj).attr('data-name') + '';
                    var val = $('#col' + i + '_filter').val();
                    if (val === null)
                        val = '';
                    var index = $('#myTable').DataTable().columns().dataSrc().indexOf(name)
                    var selectot = '.search-' + index;
                    if ($(selectot).length === 0) {
                        $('#myTable').DataTable().column(index).search(val, false, false);
                    }
                    else {
                        $('#myTable').DataTable().column($(selectot)).search(val, false, false);
                    }
                });

                $('#myTable').DataTable().columns().search().draw();
            });
        });

        function Resize() {

            $('#myTable').DataTable()
                .columns.adjust()
                .responsive.recalc();
        }
    </script>
}
